.property span { font-weight: bold }
/*.nav-bar,.nav-bar a  { text-align: center; color: red; text-decoration: none }*/
.nav-bar { float: left; background-color: #48D870;
padding-right: 5px; padding-left: 5px; padding-bottom: 5px }
.nav-bar a:hover { color: blue; text-decoration: underline }
.nav-bar a:link { color: green; text-decoration: none }
.under { text-decoration: underline }
