body {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    max-width: 50em;
    line-height: 1.6em;

}
.nav-item {
    font-size: large;
    float: left;
    margin-right: 2em;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: beige;
    padding: 1em;
}

nav li {
    list-style-type: none;
}

#home-link {
    font-style: italic;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

main {
    margin: 1em;
    font-size: larger;
}
.letter-content {
    font-family: "Bitter", serif;
}