<!DOCTYPE HTML>
<title>{{ title }}</title>
<link rel="stylesheet" href="/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

<nav>
    <div class="nav-item" id="home-link"><a href="/">Capell family letters</a></div>
    <div class="nav-item"><a href="/wartime-letters">Wartime letters 1914-1918</a></div>
</nav>

<main>
    <h1>{{ short_title }}</h1>

    {{ content }}
</main>


